.becomeavolunteer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.becomeavolunteer-container01 {
  width: 253px;
  display: flex;
  align-self: flex-start;
  margin-top: 4.2rem;
  align-items: flex-start;
  margin-left: 30px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.becomeavolunteer-btn-group {
  width: 266px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.becomeavolunteer-navlink {
  cursor: pointer;
  font-size: 15px;
  align-self: center;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.becomeavolunteer-navlink:hover {
  color: #141b8e;
  border: none;
  transform: scale(1.02);
  background-color: transparent;
}
.becomeavolunteer-button {
  padding: 2px;
  font-size: 15px;
  align-self: center;
  margin-left: 2px;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.becomeavolunteer-navlink1 {
  width: 97px;
  cursor: pointer;
  font-size: 15px;
  align-self: center;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.becomeavolunteer-navlink1:hover {
  color: #141b8e;
  border: none;
  transform: scale(1.02);
  background-color: transparent;
}
.becomeavolunteer-button1 {
  padding: 2px;
  font-size: 15px;
  align-self: center;
  margin-left: 2px;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.becomeavolunteer-button2 {
  color: rgb(84, 84, 84);
  width: 83px;
  cursor: pointer;
  font-size: 15px;
  align-self: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.becomeavolunteer-hero {
  width: 100%;
  height: 450px;
  display: flex;
  min-height: auto;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://thumbs.dreamstime.com/b/college-student-volunteers-promote-tree-plantation-highly-motivated-tribal-students-indian-village-take-out-public-rally-to-122611656.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.becomeavolunteer-text {
  color: rgb(8, 5, 37);
  width: 1281px;
  height: 163px;
  font-size: 1.7rem;
  max-width: auto;
  font-style: normal;
  margin-top: 15px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 600;
  line-height: 1.3;
  padding-top: 30px;
  user-select: none;
  padding-left: 170px;
  margin-bottom: 15px;
  padding-right: 170px;
  letter-spacing: 1px;
  padding-bottom: 30px;
  background-color: rgba(161, 231, 162, 0.55);
}
.becomeavolunteer-link {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  user-select: none;
  border-color: #ffffff;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(5, 10, 43);
}
.becomeavolunteer-link:hover {
  color: #050a2b;
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 0px #d4d4d4;
  background-color: #ffffff;
}
.becomeavolunteer-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  user-select: none;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.becomeavolunteer-text01 {
  color: rgb(5, 6, 43);
  font-size: 2.5rem;
  text-align: center;
}
.becomeavolunteer-text02 {
  width: 1000px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.3;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
}
.becomeavolunteer-gallery1 {
  width: 100%;
  height: 507px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-halfunit);
  user-select: none;
  border-color: #424242;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 10px;
  padding-right: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0.4px;
  grid-template-columns: 1fr 1fr 1fr;
}
.becomeavolunteer-gallery-card {
  width: 390px;
  cursor: pointer;
  height: 467px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  user-select: none;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-image {
  width: 390px;
  cursor: pointer;
  height: 350px;
  object-fit: cover;
  transition: 0.2s;
  border-radius: var(--dl-radius-radius-radius8);
}
.becomeavolunteer-image:hover {
  box-shadow: 5px 5px 10px 0px #101010,-5px -5px 10px 0px #101010;
}
.becomeavolunteer-heading {
  color: rgb(45, 45, 45);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.becomeavolunteer-text03 {
  color: var(--dl-color-gray-500);
  align-self: center;
  text-align: justify;
  padding-left: 4px;
  padding-right: 4px;
}
.becomeavolunteer-gallery-card1 {
  width: 356px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-image1 {
  width: 100%;
  cursor: pointer;
  height: 424px;
  object-fit: cover;
  transition: 0.2s;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2px;
}
.becomeavolunteer-image1:hover {
  width: 390px;
  height: 350px;
  box-shadow: 5px 5px 10px 0px #101010,-5px -5px 8px 0px #101010;
}
.becomeavolunteer-heading1 {
  color: rgb(45, 45, 45);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.becomeavolunteer-text04 {
  color: var(--dl-color-gray-500);
  align-self: center;
  text-align: justify;
  padding-left: 4px;
  padding-right: 4px;
}
.becomeavolunteer-gallery-card2 {
  width: 387px;
  height: 449px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-image2 {
  width: 390px;
  cursor: pointer;
  height: 350px;
  object-fit: cover;
  transition: 0.2s;
  border-radius: var(--dl-radius-radius-radius8);
}
.becomeavolunteer-image2:hover {
  width: 390px;
  height: 350px;
  box-shadow: 5px 5px 10px 0px #101010,-5px -5px 8px 0px #101010;
}
.becomeavolunteer-heading2 {
  color: rgb(45, 45, 45);
  font-size: 1.4rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.becomeavolunteer-text05 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
  text-align: justify;
}
.becomeavolunteer-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.becomeavolunteer-text06 {
  color: rgb(5, 6, 43);
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  user-select: none;
  margin-bottom: var(--dl-space-space-unit);
}
.becomeavolunteer-text10 {
  color: rgb(5, 6, 43);
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  user-select: none;
  margin-bottom: var(--dl-space-space-twounits);
}
.becomeavolunteer-container02 {
  width: auto;
  height: 404px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-bottom: 0px;
  justify-content: center;
}
.becomeavolunteer-container03 {
  flex: 0 0 auto;
  width: 471px;
  height: 386px;
  display: flex;
  align-self: flex-start;
  box-shadow: -5px -5px 8px 0px #d4d4d4;
  align-items: center;
  margin-left: 0px;
  border-color: #15861b;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIxfHxUUkVFJTIwUExBTlRJTkd8ZW58MHx8fHwxNjgyMjgxODA5&ixlib=rb-4.0.3&w=500');
}
.becomeavolunteer-form {
  width: 280p275x;
  height: 327px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.becomeavolunteer-container04 {
  width: 325px;
  height: 343px;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.becomeavolunteer-container05 {
  display: flex;
  margin-top: 6px;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 6px;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-text11 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
  user-select: none;
  margin-bottom: 1px;
}
.becomeavolunteer-textinput {
  width: 300px;
  height: 37px;
  font-size: 0.75rem;
  margin-left: 1.5px;
  border-color: var(--dl-color-gray-500);
}
.becomeavolunteer-container06 {
  display: flex;
  margin-top: 6px;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 6px;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-text12 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
  user-select: none;
  margin-bottom: 2px;
}
.becomeavolunteer-textinput1 {
  width: 300px;
  height: 37px;
  font-size: 0.75rem;
  margin-left: 1.5px;
  border-color: var(--dl-color-gray-500);
}
.becomeavolunteer-container07 {
  display: flex;
  margin-top: 6px;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 6px;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-text13 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
  user-select: none;
  margin-bottom: 2px;
}
.becomeavolunteer-textinput2 {
  width: 300px;
  height: 37px;
  font-size: 0.75rem;
  margin-left: 1.5px;
  border-color: var(--dl-color-gray-500);
}
.becomeavolunteer-container08 {
  display: flex;
  margin-top: 6px;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 6px;
  flex-direction: column;
  justify-content: center;
}
.becomeavolunteer-text14 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
  user-select: none;
  margin-bottom: 2px;
}
.becomeavolunteer-select {
  width: 300px;
  height: 37px;
  margin-left: 1.5px;
  border-radius: var(--dl-radius-radius-radius4);
}
.becomeavolunteer-thq-dropdown {
  width: 252px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.becomeavolunteer-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.becomeavolunteer-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.becomeavolunteer-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.becomeavolunteer-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.becomeavolunteer-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.becomeavolunteer-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.becomeavolunteer-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.becomeavolunteer-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.becomeavolunteer-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.becomeavolunteer-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.becomeavolunteer-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.becomeavolunteer-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.becomeavolunteer-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.becomeavolunteer-button3 {
  color: #060931;
  width: 100px;
  height: 37px;
  font-size: 0.75rem;
  font-style: normal;
  margin-top: 40px;
  transition: 0.3s;
  font-weight: 600;
  margin-left: 110px;
  padding-top: 12px;
  user-select: none;
  border-color: #060929;
  padding-left: 22px;
  padding-right: 22px;
  letter-spacing: 1.5px;
  padding-bottom: 12px;
  background-color: #01deff;
}
.becomeavolunteer-button3:hover {
  color: var(--dl-color-gray-white);
  box-shadow: 3px 3px 6px 0px #c2c2c2;
  border-color: #083c09;
  background-color: #460a08;
}
.becomeavolunteer-container09 {
  flex: 0 0 auto;
  width: 511px;
  height: 386px;
  display: flex;
  align-self: flex-start;
  box-shadow: -5px -5px 7px 0px #d4d4d4;
  align-items: flex-start;
  margin-left: 40px;
  border-color: #15861b;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1487260211189-670c54da558d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fEJVU0lORVMlMjBXSElURSUyMFBBR0V8ZW58MHx8fHwxNjgyMjkwNzUx&ixlib=rb-4.0.3&w=600');
}
.becomeavolunteer-text18 {
  margin-top: 70px;
  line-height: 1.2;
  margin-left: 20px;
  user-select: none;
}
.becomeavolunteer-text19 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.becomeavolunteer-text22 {
  color: #6d1212;
  font-weight: 800;
}
.becomeavolunteer-text24 {
  font-size: 16.5px;
}
.becomeavolunteer-text25 {
  font-size: 16.5px;
}
.becomeavolunteer-text26 {
  font-size: 16.5px;
}
.becomeavolunteer-text27 {
  color: #6d1212;
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text28 {
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text29 {
  font-size: 16.5px;
}
.becomeavolunteer-text30 {
  font-size: 16.5px;
}
.becomeavolunteer-text31 {
  font-size: 16.5px;
}
.becomeavolunteer-text32 {
  color: #6d1212;
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text33 {
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text34 {
  font-size: 16.5px;
}
.becomeavolunteer-text35 {
  font-size: 16.5px;
}
.becomeavolunteer-text36 {
  font-size: 16.5px;
}
.becomeavolunteer-text37 {
  color: #6d1212;
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text39 {
  font-size: 16.5px;
}
.becomeavolunteer-text40 {
  font-size: 16.5px;
}
.becomeavolunteer-text41 {
  font-size: 16.5px;
}
.becomeavolunteer-text42 {
  color: #6d1212;
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text43 {
  font-style: normal;
  font-weight: 800;
}
.becomeavolunteer-text44 {
  font-size: 16.5px;
}
.becomeavolunteer-text47 {
  color: #6d1212;
  font-style: normal;
  font-weight: 800;
}
@media(max-width: 991px) {
  .becomeavolunteer-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .becomeavolunteer-text02 {
    text-align: center;
  }
  .becomeavolunteer-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
  .becomeavolunteer-text06 {
    text-align: center;
  }
  .becomeavolunteer-text10 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .becomeavolunteer-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .becomeavolunteer-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-gallery-card {
    flex-direction: column;
  }
  .becomeavolunteer-gallery-card1 {
    flex-direction: column;
  }
  .becomeavolunteer-gallery-card2 {
    flex-direction: column;
  }
  .becomeavolunteer-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .becomeavolunteer-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .becomeavolunteer-btn-group {
    flex-direction: column;
  }
  .becomeavolunteer-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-gallery {
    padding: var(--dl-space-space-unit);
  }
  .becomeavolunteer-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-image {
    height: 10rem;
  }
  .becomeavolunteer-image1 {
    height: 10rem;
  }
  .becomeavolunteer-image2 {
    height: 10rem;
  }
  .becomeavolunteer-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .becomeavolunteer-button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
