.why-tree-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.why-tree-container1 {
  width: 104px;
  display: flex;
  align-self: flex-start;
  margin-top: 4.2rem;
  align-items: flex-start;
  margin-left: 30px;
  margin-bottom: 0.4rem;
  flex-direction: column;
  justify-content: flex-start;
}
.why-tree-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.why-tree-navlink {
  cursor: pointer;
  font-size: 15px;
  align-self: center;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.why-tree-navlink:hover {
  color: #141b8e;
  border: none;
  transform: scale(1.02);
  background-color: transparent;
}
.why-tree-button {
  padding: 2px;
  font-size: 15px;
  align-self: center;
  margin-left: 2px;
  padding-top: 0px;
  border-width: 0px;
  margin-right: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.why-tree-button1 {
  color: rgb(84, 84, 84);
  width: 49px;
  cursor: pointer;
  font-size: 15px;
  align-self: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.why-tree-hero {
  width: 100%;
  height: 392px;
  display: flex;
  min-height: 89vh;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1574719289550-f6c36d8c21dc?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQyfHxQTEFOVFMlMjBPTiUyMExBTkR8ZW58MHx8fHwxNjgyMjkzNjA2&ixlib=rb-4.0.3&w=1500');
  background-repeat: no-repeat;
  background-position: center;
}
.why-tree-text {
  color: var(--dl-color-gray-white);
  font-size: 4rem;
  max-width: 450px;
  margin-top: 15px;
  text-align: center;
  user-select: none;
  margin-bottom: 15px;
}
.why-tree-text01 {
  color: rgb(255, 255, 255);
  width: 900px;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  user-select: none;
  margin-bottom: 0px;
}
.why-tree-gallery {
  width: 100%;
  height: 2060px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 20px;
  user-select: none;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 13px;
}
.why-tree-text02 {
  color: rgb(5, 6, 43);
  font-size: 2.4rem;
  text-align: center;
}
.why-tree-text03 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.why-tree-text04 {
  line-height: 1.6;
}
.why-tree-text05 {
  color: #2c738a;
  line-height: 1.6;
}
.why-tree-text06 {
  line-height: 1.6;
}
.why-tree-text07 {
  color: #129413;
  line-height: 1.6;
}
.why-tree-text08 {
  line-height: 1.6;
}
.why-tree-text09 {
  color: #129413;
  line-height: 1.3;
}
.why-tree-text10 {
  color: #129413;
  line-height: 1.3;
}
.why-tree-text11 {
  font-weight: 600;
}
.why-tree-banner {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.why-tree-container2 {
  width: 763px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.why-tree-text12 {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.why-tree-text13 {
  text-align: justify;
  line-height: 1.3;
  margin-right: 0px;
  letter-spacing: 1px;
}
.why-tree-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.why-tree-banner1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.why-tree-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.why-tree-container3 {
  width: 763px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.why-tree-text14 {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.why-tree-text15 {
  text-align: justify;
  line-height: 1.3;
  margin-right: 0px;
  letter-spacing: 1px;
}
.why-tree-banner2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 30px;
  justify-content: space-between;
}
.why-tree-container4 {
  width: 763px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.why-tree-text16 {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.why-tree-text17 {
  text-align: justify;
  line-height: 1.3;
  margin-right: 0px;
  letter-spacing: 1px;
}
.why-tree-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.why-tree-container5 {
  width: 1143px;
  height: 233px;
  display: flex;
  box-shadow: -5px -5px 8px 0px #d4d4d4,5px 5px 8px 0px #d4d4d4;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: center;
}
.why-tree-container6 {
  flex: 0 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.why-tree-text18 {
  color: rgb(9, 11, 58);
  width: 600px;
  font-size: 2.4rem;
  font-style: normal;
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 1.3;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
}
.why-tree-navlink1 {
  color: #e6e6e6;
  cursor: pointer;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  user-select: none;
  border-color: #ffffff;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #1aa18f;
}
.why-tree-navlink1:hover {
  color: #ffffff;
  transform: scale(1.02);
  box-shadow: 5px 5px 8px 0px #464646;
  font-style: normal;
  font-weight: 500;
  background-color: #137514;
}
.why-tree-link {
  display: contents;
}
.why-tree-image3 {
  width: 323px;
  height: 100%;
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.why-tree-banner3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.why-tree-image4 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.why-tree-container7 {
  width: 763px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: 0px;
  flex-direction: column;
  justify-content: space-between;
}
.why-tree-text19 {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.why-tree-text20 {
  text-align: justify;
  line-height: 1.3;
  margin-right: 0px;
  letter-spacing: 1px;
}
.why-tree-banner4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 12px;
  justify-content: space-between;
}
.why-tree-container8 {
  width: 763px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.why-tree-text21 {
  font-size: 19px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.why-tree-text22 {
  text-align: justify;
  line-height: 1.3;
  margin-right: 0px;
  letter-spacing: 1px;
}
.why-tree-image5 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
@media(max-width: 991px) {
  .why-tree-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .why-tree-text03 {
    text-align: center;
  }
  .why-tree-banner {
    flex-direction: column;
  }
  .why-tree-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .why-tree-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .why-tree-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .why-tree-banner1 {
    flex-direction: column;
  }
  .why-tree-image1 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .why-tree-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .why-tree-text15 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .why-tree-banner2 {
    flex-direction: column;
  }
  .why-tree-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .why-tree-text17 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .why-tree-image2 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .why-tree-banner3 {
    flex-direction: column;
  }
  .why-tree-image4 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
  .why-tree-container7 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .why-tree-text20 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .why-tree-banner4 {
    flex-direction: column;
  }
  .why-tree-container8 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .why-tree-text22 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .why-tree-image5 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 767px) {
  .why-tree-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .why-tree-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text13 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .why-tree-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text15 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .why-tree-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text17 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .why-tree-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text20 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .why-tree-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .why-tree-text22 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .why-tree-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .why-tree-btn-group {
    flex-direction: column;
  }
  .why-tree-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-gallery {
    padding: var(--dl-space-space-unit);
  }
  .why-tree-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .why-tree-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-image1 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .why-tree-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-image2 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .why-tree-banner3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-image4 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .why-tree-banner4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .why-tree-image5 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
