.component3-container {
  height: 100%;
  position: relative;
  transition: 0.3s;
}
.component3-container:hover {
  box-shadow: 5px 5px 10px 0px #3e3838;
}
.component3-container1 {
  flex: 0 0 auto;
  width: 285px;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1580892138193-0781eef7caf2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEyfHxndXJnYW9ufGVufDB8fHx8MTY4MjU3MzIyNA&ixlib=rb-4.0.3&h=400");
}
.component3-container1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.component3-text {
  color: rgb(243, 243, 243);
  width: 100%;
  height: 306px;
  font-size: 2.5rem;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  transition: 0.3s;
  padding-top: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgba(0, 0, 0, 0.55);
}
.component3-text:hover {
  opacity: 1;
}
.component3-root-class-name {
  height: 77%;
  margin-top: 50px;
}
