.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  width: 190px;
  cursor: pointer;
  height: auto;
  transition: 0.3s;
  text-decoration: none;
}
.footer-image:active {
  width: 200px;
}
.footer-text {
  width: 350px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
  line-height: 1.3;
  margin-left: -10px;
  margin-right: 70px;
  text-transform: lowercase;
}
.footer-text01 {
  text-transform: uppercase;
}
.footer-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  user-select: none;
  margin-right: 6.4rem;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text03 {
  margin-top: 12px;
  font-weight: 700;
  margin-left: -35px;
  margin-bottom: 19px;
}
.footer-text04 {
  width: 250px;
  text-align: justify;
  line-height: 1.3;
  margin-left: -40px;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: -30px;
  user-select: none;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text05 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink1:hover {
  color: #0e710c;
}
.footer-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2:hover {
  color: #0e710c;
}
.footer-text06 {
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text06:hover {
  color: #0e710c;
}
.footer-link {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.footer-link:hover {
  color: #0e710c;
}
.footer-text07:hover {
  color: #0e710c;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: -50px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text09 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text10 {
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text10:hover {
  color: #0e710c;
  font-style: normal;
  font-weight: 400;
}
.footer-link1 {
  cursor: pointer;
  transition: 0.3s;
  user-select: all;
  letter-spacing: 1.3px;
  text-decoration: none;
}
.footer-link1:hover {
  color: #0e710c;
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  width: 14px;
  cursor: pointer;
  height: 14px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.footer-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.footer-icon04 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.footer-icon06 {
  width: 17px;
  cursor: pointer;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.footer-icon08 {
  width: 20px;
  cursor: pointer;
  height: 20px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 2px;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #414141;
}
.footer-text12 {
  align-self: center;
  user-select: none;
}
.footer-text14 {
  color: #0e710c;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .footer-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-logo {
    align-items: center;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .footer-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .footer-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: 0px;
  }
  .footer-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-links-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-container1 {
    margin-right: 0px;
  }
  .footer-container2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .footer-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text12 {
    text-align: center;
  }
}
